body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0px auto;
}

				/* header layout & style */
header {
	border-bottom: 1px solid seashell;
}

a {
	font-size: 22px;
	color: seashell;
}

				/* mission section layout and style */
.mission {
	background-image: url("../images/mission-background.jpg");
	height: 700px;
	width: 1200px;
}

.text {
	background-color: black;
}

				/* feature teas titles and image layout */
.featured {
	width: 1000px;
}

.item {
	padding: 5px;
}

.item img {
	display: block;
	height: 200px;
	width: 300px;
	padding: 5px;
}

.item span {
	display: block;
	padding: 5px;
	text-align: center;
}

				/* locations section and addresses */
.locations {
	background-image: url("../images/locations-background.jpg");
	height: 500px;
}


.address {
	background-color: black;
	border: 1px solid white;
	width: 300px;
	margin: 5px 20px;
	opacity: 1;
} 

